/* style for the background image made in figma ;) jeg skriver i engelsk for swag skyld  der kan ændres imellem background 1 eller 2

Color pallete:
1: #F2E0DF - #FF8128
2: #BDCDCF - #003332
3: #E3B8B8 - #034C36
4: #034C36 - #003332
*/


/* custom font */
@font-face {
    font-family: 'Hollowknightfont';
    src: url('Fonts/Hollow_knight_font/Trajan Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Hollowknightfont;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: linear-gradient(to top, #E3B8B8, #034C36);
    text-align: center;
}

.background_style{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    animation: background_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
    will-change: opacity;
}

.bg1{
    background-image: url("Static/Background/Frame 1.svg");
    animation-delay: 0s;
}

.bg2{
    background-image: url("Static/Background/Frame 2.svg");
    animation-delay: 4s;
}

.bg3{
    background-image: url("Static/Background/frame 3.svg");
    animation-delay: 8s;
}

.bg4{
    background-image: url("Static/Background/Frame 4.svg");
    animation-delay: 12s;
}

@keyframes background_animation {
    0% {
    opacity: 0;
    }
    12.5%{
        opacity: 1;
    }
    37.5%{
        opacity: 0.5;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


/* Fjerner linjen under et link til text */

a {
    text-decoration: none;
    color: white; 
}

.content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
}


/* Styles for shadows in the edges of the screen look very cool:) */

.side-fade {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 20vw; 
    pointer-events: none; 
    z-index: 999; /* on top of background */
}

.left-fade {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}

.right-fade {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
}















.header_tab{
    width: 100%;
    height: 125px;
    align-content: center;
    background: #222021;
    backdrop-filter: blur(20px);
    opacity: 0.75;
    box-shadow: 0 2px 2px 1px #121212;
}



.header_box{
    margin: auto;
    background: linear-gradient(to right, #F2E0DF, #FF8128, #F2E0DF);
    background-size: 200% 200%;
    width: 325px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background-position: 0% 50%;
    transition: background-position 1.5s ease-in-out, transform 0.3s ease;
    user-select: none;
    will-change: transform, background-position;
}

.header_box:hover{
    background-position: 100% 50%;
    transform: scale(1.10);
}

.gradient-text {
    margin-top: 0;
    padding-top: 8px;
    color: floralwhite;
}
























.main_section{
    color: floralwhite;
    display: flex;
    min-height: calc(100vh - 125px);
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.animation.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 145px;
    background: linear-gradient(to right, #121212, navajowhite, #121212);
    background-size: 200% 200%;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background-position: 0% 50%;
    transition: background-position 1.5s ease-in-out, transform 0.3s ease;
    user-select: none;
    will-change: transform, background-position;
    margin-top: 10vh;
}

.main_page_button:hover{
    background-position: 100% 50%;
    transform: scale(1.10);
}

.main-text{
    backdrop-filter: blur();
    border: 1px inset #222831;
    padding: 75px;
    background: #222021;
    opacity: 0.85;
    width:65%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    border-radius: 25px;
    box-shadow: 1px 2px 2px 1px #121212;
}

